@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url('./CGsnxSKATVaPQegmGNQTRQ.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 20px;
    padding: 10px;
    width: 100%; /* Responsive width */
    max-width: 500px; /* Maximum container width */
    max-height: 90vh;
    border-radius: 15px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.2), 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
}

h2 {
    font-size: 1.875rem; /* 30px/16 */
    text-align: center;
    margin-bottom: 0.5rem;
}

.form .input-box {
    width: 100%;
    margin-top: 0.5rem;
}

.form :where(.input-box input, .select-box select) {
    height: 40px;
    width: 100%;
    outline: none;
    color: #707070;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 10px;
}

.input-box input:focus,
.select-box select:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Gap for both columns and rows */
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.gender input {
    accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.gender label {
    color: #fff;
}

.form button {
    height: 40px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: linear-gradient(90deg, #ff758c 0%, #ff7eb3 100%);
    border-radius: 10px;
}

.form button:hover {
    background: linear-gradient(90deg, #e7304e 0%, #ff7eb3 100%);
}

/* Media Queries for Responsive Adjustments */
@media screen and (max-width: 768px) {
    .container {
        padding: 5px;
        max-width: 95%; /* Make container use almost full width */
    }

    h2 {
        font-size: 1.5rem; /* Smaller font size on smaller devices */
    }

    .form button {
        height: 50px; /* Larger button for easier interaction */
    }
}

@media screen and (max-width: 500px) {
    .form .column, .form .gender-option, .form .gender {
        flex-direction: column;
        align-items: center; /* Center align items for better mobile layout */
    }
}
